# telemt.toml

show_link = ["user1"]

[general]
prefer_ipv6 = false
fast_mode = true
use_middle_proxy = false

[general.modes]
classic = false
secure = false
tls = true

[server]
port = 443
listen_addr_ipv4 = "0.0.0.0"
listen_addr_ipv6 = "::"
metrics_port = 8080
metrics_whitelist = ["127.0.0.1/32", "::1/128", "0.0.0.0/0"]

[censorship]
tls_domain = "example.com" # set tls domain here
mask = true
mask_port = 443
fake_cert_len = 2048

[access.users]
user1 = "00000000000000000000000000000000" # set 32 hex chars secret here

[[upstreams]]
type = "direct"
enabled = true
weight = 10
